
<section id="main-section">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="O nas">
            <div id="about-us">
                <p id="about-us-title">Witaj na stronie restauracji Arkadix!</p>
                <div id="about-us-grid">
                    <div id="img">
                        <img id="food-img" src="../../../assets/img/food1.jpg" alt="">
                    </div>
                    <div id="text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a lacinia ipsum, ac rutrum odio. Vestibulum semper, sem sit amet mollis consectetur, ipsum leo tristique odio, a luctus turpis sapien non lorem. Maecenas eu magna blandit, consectetur urna vitae, finibus purus. Donec ac eros ultrices, bibendum est eget, tempor purus. Sed sodales enim vitae nibh consequat ultricies. Ut eleifend eros porta felis auctor, id dignissim tortor venenatis. In elit nibh, semper id purus ut, lobortis lobortis quam. Duis volutpat sit amet elit rhoncus ullamcorper. Nunc imperdiet risus non suscipit porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel accumsan magna, nec venenatis lectus. Sed non odio orci. Maecenas mattis leo dui, sed blandit arcu elementum nec. Suspendisse luctus rutrum nunc, quis semper neque fermentum et. Donec mollis, tortor a aliquet vulputate, lorem est maximus libero, sit amet venenatis ipsum libero porta velit.

                            Nunc elementum lacinia elit, vel tempor odio eleifend vitae. In ornare non diam eu viverra. Ut vel enim eu mauris aliquet aliquam. Aenean nunc justo, cursus vel nibh quis, fermentum accumsan purus. Vivamus sit amet nulla ullamcorper, aliquet ante ut, facilisis lacus. Praesent rhoncus ex at tincidunt pulvinar. Vivamus ligula turpis, congue euismod odio sit amet, sollicitudin convallis justo. Integer eu massa at lorem mattis facilisis. Duis nec eros consequat, feugiat ligula at, ornare tortor. Morbi in odio dui. Pellentesque dapibus tempus lorem, et iaculis lorem lobortis in. 
                        </p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Jak nas znaleźć?">Content 2</mat-tab>
    </mat-tab-group>
</section>